.form {
    margin: 20px;
    margin: 5px, auto;
    width: 60%;
    text-align: center;
    display: block;
    
    
  }
  
  .form input {
    /* display: block; */
    /* margin: 5px, auto; */
    width: 60%;

  }